/* Globales Stylesheet v.0.1 */
/* Zum importieren weiterer stylesheets @import "style2.css";  */

/* eventuell benötigt für die karten einbindung
.karten-widget{
  box-sizing: content-box;
} */

@font-face {
  font-family: 'Nexa Light Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Nexa Light Regular'), url('nexa-light-webfont.woff') format('woff');
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
  background-color: black;
  /* background-image: url(); */
  background-size: 100%;
  font-size: 100%;
  color: black;
  padding-top: 235px; /*gibt platz fuer das banner */
}
header{
    background: url("./images/headerbanner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 3%;
    background-color: #b5d158;

    height: 235px;
    padding-top: 40px;
    margin-top: 5px;
    text-align: center;
    position: fixed; /* header liegt hinten und verschwindet beim scrollen */
    top: 0;
    width: 100%;
}

body{
  background-color: grey;
  /* background-image: url(); */
  background-size: 100%;
  font-family: "Verdana, Geneva, sans-serif";
  font-size: 100%;
  padding-top: 200px; /*gibt platz fuer das banner */
}
/*******für die sticky navbar****************************/

main,
.main-nav,
.test{
  position: relative;
}

.main-nav-scrolled{
  position: fixed;
  top: 0;
  width: 100%;
}
/*********************************************************/

main{
  background: url("./images/halftone-yellow.png");
  background-repeat: repeat;
  /* background-attachment: fixed; */
  /* background-size: cover; */
  text-align: center;
  padding: 100px 50px 50px 50px;
}

article {
  text-align: center;
}

h1 {
  font:3em "Niconne", sans-serif;
  color: gold;
  text-shadow: 0px 2px 1px #111111;
}

h2 {
  font-family: "Arial";
  color: Black;
  font-size: 2.0em;
  /* text-shadow: 0px 2px 1px #f0f0f0;} */
}

p {
  font-size: 1em;
}

footer {
  text-align: center;
  padding: 40px;
}

.flex-container{ /* für css flexbox */
  list-style: none;
  display: flex;
  flex-flow: column wrap; /*reihenfolge der container */
  align-items: stretch;
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
}
 .flex-container > div {
  background-color: rgb(255, 255, 255, 1);
  margin: 10px;
  padding: 10px 40px 10px 40px;
}


.main-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 150; /* Dass die leiste immer oben ist */
  margin-bottom: -60px; /*verhindert springen im moment des fixens */
  box-shadow: 0 3px 4px rgba(0,0,0,.4);
}
.main-nav > a{
  display: inline-block;
  color: black;
}

.icons{
  height: 50px;
}


/* .flexNavboardSigns{
  height: 150px;
  width: 250px;
  background: url("./images/glowbox2.png");
  background-repeat: no-repeat;
  background-size: contain;
} */
.flexNavboardSigns:hover{
  background-color: rgba(0,0,0, .3);
}

.kebabBlink{
  height: 150px;
  width: 150px;
  background: url("./images/kebab2.gif");
  background-repeat: no-repeat;
  background-size: contain;
}

.flex-navbar{ /* die links */
  flex: 25%;
  align-self: center; /* vielleicht mal center ausprobieren */
  height: auto;
  margin: auto; /* magic */
  background-color: #D32918;
  padding: 15px;
  /*margin: 10px;*/
}

.flex-content{
  flex: 75%;
  /*align-self: stretch; /* hoehe der Box */
  /*margin: auto; */
  padding: 30px;
  background-color: rgba(241,241,241, 0.2) ;
}

#logo{
  height: 100px;
  background-color: white;
  margin: 15px;
}

#navButtons{
  font: 14px;
}

.slideshow{
  max-width: 500px;


}
.mySlides{
  display: none;
  width: 100%;
  max-height: 300px;
}

.lineO{
  height: 50px;
}
.ornamentOL{
  width: 50px;
  height: 50px;
  background: url('./images/eckeOL.png') no-repeat;
  background-size: contain;
  float: left;
  margin: -13px;
}
.ornamentOR{
  width: 50px;
  height: 50px;
  background: url('./images/eckeOR.png') no-repeat;
  background-size: contain;
  float: right;
  margin: -13px;
}
.ornamentUR{
  width: 50px;
  height: 50px;
  background: url('./images/eckeUR.png') no-repeat;
  background-size: contain;
  float: right;
  margin: -13px;
}
.ornamentUL{
  width: 50px;
  height: 50px;
  background: url('./images/eckeUL.png') no-repeat;
  background-size: contain;
  float: left;
  margin: -13px;
}



a:link{color: blue;}
a:visited{color: maroon;}

#containerHeart {
  display: block;
  margin: auto;
  width: 20%;
  height: 20%;
}
#beautifulYou{
  width: 30%;
  height: 20%;
}
#beautifulKebab{
  width: 30%;
  height: 20%;
}
#matchLove{
  display: block;
  margin: auto;
  border-radius: 12px;
  width: 20%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: white;
  color: black;
  border: 2px solid #ED6A5A;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
#matchLove:hover {
    background-color: #ED6A5A;
    color: white;
}

/****** Flackeranimation für den Trashlook ****************/

@-webkit-keyframes blink {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
    }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
}
}
@-moz-keyframes blink {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
    }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
}
}
@-o-keyframes blink {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
    }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
}
}
#flacker {
     /*animation: blink 11s linear infinite;*/
    -webkit-animation: blink 11s linear infinite;
    -moz-animation:  blink 11s linear infinite;
    -o-animation:  blink 11s linear infinite;

}
/*Karten Außenframe*/
.mapouter{
  text-align:center;
  height:100%;
  width:100%;
}
/*Canvas von der Karte*/
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  display: block;
  height:100%;
  width:100%;
}
/*Animation der kleinen Döner*/
.scroll-left {
width: 100%;
 height: 100px;
 overflow: hidden;
 position: relative;
 opacity: 1.0;
}
/*zur Animation der kleinen Döners*/
.scroll-left .inner {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 100px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 5s linear infinite;
 -webkit-animation: scroll-left 5s linear infinite;
 animation: scroll-left 5s linear infinite;
}
/* Bewegung der kleinen Dönellis */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}

/*SliderShow Content*/
.reviewSliderContainer{
  max-width:980px;
  margin:auto;
  position:relative;
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
}
.black{
  color:#fff!important;
  background-color:#000!important;
}
.display-left{
  position:absolute;
  top:50%;
  left:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%);
}
.display-right{
  position:absolute;
  top:50%;
  right:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
}

.reviewSlider{
  display: none;
  width: 100%;
  max-height: 300px;
}
