/* Globales Stylesheet v.0.1 */
/* Zum importieren weiterer stylesheets @import "style2.css";  */
body{
  background-color: grey;
  font-size: 100%;
  color: black;
  padding-top: 200px; /*gibt platz fuer das banner */
}

header{
    background: url("./images/headerbanner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 3%;
    background-color: #b5d158;

    height: 235px;
    padding-top: 40px;
    margin-top: 5px;
    text-align: center;
    position: fixed; /* header liegt hinten und verschwindet beim scrollen */
    z-index: -1;
    top: 0;
    width: 100%;
}

/*******für die sticky navbar****************************/

main,
.main-nav,
.test{
  position: relative;
}

.main-nav-scrolled{
  position: fixed;
  top: 0;
  width: 100%;
}
/*********************************************************/

main{
  background: url("./images/halftone-yellow.png");
  background-repeat: repeat;
  text-align: center;
  /* padding: 100px 250px 50px 250px; */
  padding: 100px 13% 50px 13%;
}

article {
  text-align: left;
}

#gruesse {
  font-family: 'Kalam', cursive;
  font-size: 200%;
}

h1, h2 {
  /* font-family: "Arial";
  color: Black; */
  text-align: left;
  font-size: 2.5em;
  color: #d32918;
  /* text-shadow: 0px 2px 1px #f0f0f0;} */
}

p {
  font-size: 1.0em;
}

footer {
  text-align: center;
  padding: 40px;
  background-color: black;
}

.flex-container{ /* für css flexbox */
  list-style: none;
  display: flex;
  flex-flow: column wrap; /*reihenfolge der container */
  align-items: stretch;
}

 .flex-container > div {
  background-color: rgb(255, 255, 255, 1);
  margin: 10px;
  padding: 10px 40px 10px 40px;
}

.main-nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 150; /* Dass die leiste immer oben ist */
  margin-bottom: -60px; /*verhindert springen im moment des fixens */
  box-shadow: 0 3px 4px rgba(0,0,0,.4);
}

.main-nav > a{
  display: inline-block;
  text-decoration: none;
  color: black;
}

.icons{
  height: 50px;
}

@media only screen and (max-width: 720px){
  main {
    padding-left: 0;
    padding-right: 0;
  }
  .main-nav{
    height: 140px;
  }
}

#logo{
  height: 100px;
  background-color: white;
  margin: 15px;
}

#navButtons{
  font: 14px;
}

.lineO{
  height: 50px;
}

#containerHeart {
  display: block;
  margin: auto;
  width: 20%;
  height: 20%;
}
#beautifulYou{
  width: 30%;
  height: 20%;
}
#beautifulKebab{
  width: 30%;
  height: 20%;
}
#matchLove{
  display: block;
  margin: auto;
  border-radius: 1em;
  width: 20%;
  box-shadow: 0 0.1em 1.5em 0 rgba(0,0,0,0.24), 0 1.5em 2em 0 rgba(0,0,0,0.19);
  background-color: white;
  color: black;
  border: 0.1em solid #d32918;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 90%;
  margin: 0.4em 1em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
#matchLove:hover {
    background-color: #d32918;
    color: white;
}

/*Karten Außenframe*/
.mapouter{
  text-align:center;
  height: 400px;
  width:100%;
}
/*Canvas von der Karte*/
.gf_canvas {
  overflow:hidden;
  background:none!important;
  display: block;
  height:100%;
  width:100%;
}

/*Animation der kleinen Döner*/
.scroll-left {
width: 100%;
 height: 100px;
 overflow: hidden;
 position: relative;
 opacity: 1.0;
}
/*zur Animation der kleinen Döners*/
.scroll-left .inner {
 position: absolute;
 width: 100%;
 height: 100%;
 line-height: 100px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 5s linear infinite;
 -webkit-animation: scroll-left 5s linear infinite;
 animation: scroll-left 5s linear infinite;
}

#untererSlide{

  margin-bottom: 100px;
}
/* Bewegung der kleinen Dönellis */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}
