/* Globales Stylesheet v.0.1 */
/* Zum importieren weiterer stylesheets @import "style2.css";  */

/* eventuell benötigt für die karten einbindung
.karten-widget{
  box-sizing: content-box;
} */

body{
  text-align: center;
  background-color: #F0FFFF;
  /* background-image: url(); */
  background-size: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

#logo{
  height: 100px;
  background-color: white;
  margin: 15px;
}

#navbar{
  background-color: #D32918;

}
p{
  color: red;
}

h1{
  font-size: 30px;
  color: gold;
}

h2{
  color: gold;
  font-size: 14px}
}


a:link{color: blue;}
a:visited{color: maroon;}

#container {
  margin: 20px;
  width: 100px;
  height: 100px;
}

#beautifulYou{
  width: 100px;
  heigth: 60px;
}
#beautifulKebab{
  width: 100px;
  heigth: 60px;
}
